# Archivos de configuración de entorno
# .env <--- Descomenta si quieres ignorarlo (¡Recomendado!)

# Carpeta de dependencias de Composer
/vendor/

/public/uploads/perfiles/*
!/public/uploads/perfiles/default.png

resumen_codigo.txt